html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  max-width: 900px;
  margin: 0 auto;
}

li {
  padding: 30px 10px;
  border-bottom: 1px solid #333;
  list-style: inside;
  list-style-type: decimal;
  text-align: left;
}
